%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#collapsed-section", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} CleanSheets
    / Collect the nav links, forms, and other content for toggling
    #collapsed-section.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - unless logged_in?
          %li
            = link_to "Sign Up", new_user_path
          %li
            = link_to "Log In", sign_in_path
        - else
          %li
            = link_to "Sign Out", sign_out_path
        %li
          %button.btn.navbar-btn List Your Space
